.small {
  border: 1px black solid;
  background-color: #2E9CCA;
  margin: 15px 10px;
  padding: 10px 10px;
  border-radius: 10px;
}

.big {
  border: 1px black solid;
  background-color: green;
  margin: 15px 10px;
  padding: 10px 10px;
  border-radius: 10px;
}
