.header {
  background: LightSeaGreen;
  position:fixed;
  z-index: 99;
  width: 100%;
  border-bottom: 1px solid black;
  top: 0; /* Stay at the top */
}

.bars {
  color:white;
  padding:10px;
}

.authentification {
  float:right;
}
